.available-devices {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__list {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            text-align: center;

            h4 {
                margin-top: 20px;
                margin-bottom: 24px;
            }

            li {
                list-style-type: none;
            }

            img {
                max-width: 100%;
            }
        }
    }
}